# Introduction to Python - 2

Today, we will go into the detail of lists, tuple, Dictionaries and Sets (also we will revisit strings).

<img src="python_mot.jpeg" alt="drawing" style="width:400px;"/>

## Lists

Lists are a type of data structure in python, which we can think like a box.

In [35]:
list1 = ["A","B","C",1.2, 3 , 3//4]
print(list1)

['A', 'B', 'C', 1.2, 3, 0]

In [2]:
print(type(list1))

<class 'list'>

In [4]:
print("The 3rd element is ",list1[2])
print("The 1st element is ",list1[0])
print("The last element is ",list1[-1])

The 3rd element is  C
The 1st element is  A
The last element is  0

In [5]:
len(list1)

6

In [6]:
list1[len(list1)-1]

0

List data type is mutable.

In [7]:
list1

['A', 'B', 'C', 1.2, 3, 0]

In [8]:
list1[1]

'B'

In [9]:
list1[1] = 5

In [10]:
list1

['A', 5, 'C', 1.2, 3, 0]

In [11]:
list1.append(121) # append adds a new element in the list at the end
list1

['A', 5, 'C', 1.2, 3, 0, 121]

In [12]:
list1.pop()# remove last item

121

In [13]:
list1

['A', 5, 'C', 1.2, 3, 0]

In [14]:
list1.remove('C')# remove the exact value which we want to remove

In [15]:
list1

['A', 5, 1.2, 3, 0]

In [16]:
del list1[2]#takes index
print(list1)

['A', 5, 3, 0]

In [17]:
list1.insert(1,121)
print(list1)

['A', 121, 5, 3, 0]

In [18]:
list1.remove(0)
print(list1)

['A', 121, 5, 3]

In [19]:
list2 = ["2","D",999]

In [20]:
list1.extend(list2)

In [21]:
print(list1)

['A', 121, 5, 3, '2', 'D', 999]

In [23]:
list3 = [0,0]

In [24]:
list1 + list3

['A', 121, 5, 3, '2', 'D', 999, 0, 0]

In [25]:
list1 + ["a",1,101]

['A', 121, 5, 3, '2', 'D', 999, 'a', 1, 101]

In [31]:
list1

['A', 'B', 'C', 1.2, 3, 0]

In [109]:
list2

['2', 'D', 999]

In [111]:
list2[::-1]# It invert list

[999, 'D', '2']

In [36]:
for i in list2[::-1]:
    list1.insert(1,i)

In [95]:
list2

['2', 'D', 999]

In [37]:
list1

['A', '2', 'D', 999, 'B', 'C', 1.2, 3, 0]

In [29]:
print(list1)

['A', ['cb', 20, 100], 121, 5, 3, '2', 'D', 999]

### Slicing

In [96]:
list1

['A', '2', 'D', 999, 'B', 'C', 1.2, 3, 0]

In [103]:
list3 = list1[3:7]
print(list3)

[999, 'B', 'C', 1.2]

In [116]:
list4 = list1[::-1]
print(list4)

[0, 3, 1.2, 'C', 'B', 999, 'D', '2', 'A']

## Tuple

In [38]:
tuple1 = ("a","b","c",1,2,43)

In [39]:
type(tuple1)

tuple

In [40]:
tuple1[1]

'b'

In [41]:
tuple1.append(101)

AttributeError: 'tuple' object has no attribute 'append'

In [42]:
tuple1[1] = 2

TypeError: 'tuple' object does not support item assignment

## Sets

In [43]:
set1 = {1,2,3,4,5}

In [44]:
type(set1)

set

In [46]:
list(set1)[1]

2

In [48]:
set2 = {"a","a","b","c"}
print(set2)

{'c', 'b', 'a'}

In [49]:
set3 = set1.union(set2)
print(set3)

{1, 2, 3, 4, 5, 'c', 'b', 'a'}

In [50]:
set4 = set1.intersection(set2)
print(set4)

set()

## Booleans

In [51]:
type(True)

bool

In [52]:
a = 3

In [53]:
a > 5

False

In [54]:
a < 5

True

In [57]:
a  == 3.0

True

In [59]:
a != 3

False

## If Else Statement

In [ ]:
#basic syntax
# if (condition):
#      write what we want our code to do.
# else:
#     what you want the programme to do if condition not satisfied

In [67]:
a = 3 # if a > 3, a - 4 else a >= 3 a + 5
if a > 3:
    a = a - 4
elif a == 3:
    a = a - 1
else:
    a = a + 5

In [73]:
a = 3
a /= 4
print(a)

0.75

In [68]:
a

2

<img src="superior_if.jpg" alt="drawing" style="width:400px;"/>

In [79]:
a = 3

In [80]:
x = 2 if a == 2 else 1

In [82]:
a = 3
if a == 2:
    x = 2
else:
    x = 1

In [81]:
x

1

## For loops

In [83]:
sum([1,2,3,4,5,6,7,8,9,10])

55

Calculate sum of n integers, i.e., $$\sum_{n=0}^{n =10} n$$

In [90]:
sum(list(range(0,11)))

55

In [89]:

list(range(1,10, 2))# generators

[1, 3, 5, 7, 9]

In [92]:
x = 0
for i in range(11):
    x = x + i
print(x)

55

In [94]:
x = 0
for i in range(100):
    x = x + 1
print(x)

100

In [117]:
for i in [2,67,9]:
    print(i)

2
67
9

In [124]:
x = 400001
while x > 1:
    if x % 2 == 0:
        x = x/2
    else:
        x = 3*x + 1
    print(x)

1200004
600002.0
300001.0
900004.0
450002.0
225001.0
675004.0
337502.0
168751.0
506254.0
253127.0
759382.0
379691.0
1139074.0
569537.0
1708612.0
854306.0
427153.0
1281460.0
640730.0
320365.0
961096.0
480548.0
240274.0
120137.0
360412.0
180206.0
90103.0
270310.0
135155.0
405466.0
202733.0
608200.0
304100.0
152050.0
76025.0
228076.0
114038.0
57019.0
171058.0
85529.0
256588.0
128294.0
64147.0
192442.0
96221.0
288664.0
144332.0
72166.0
36083.0
108250.0
54125.0
162376.0
81188.0
40594.0
20297.0
60892.0
30446.0
15223.0
45670.0
22835.0
68506.0
34253.0
102760.0
51380.0
25690.0
12845.0
38536.0
19268.0
9634.0
4817.0
14452.0
7226.0
3613.0
10840.0
5420.0
2710.0
1355.0
4066.0
2033.0
6100.0
3050.0
1525.0
4576.0
2288.0
1144.0
572.0
286.0
143.0
430.0
215.0
646.0
323.0
970.0
485.0
1456.0
728.0
364.0
182.0
91.0
274.0
137.0
412.0
206.0
103.0
310.0
155.0
466.0
233.0
700.0
350.0
175.0
526.0
263.0
790.0
395.0
1186.0
593.0
1780.0
890.0
445.0
1336.0
668.0
334.0
167.0
502.0
251.0
754.0
377.0
1132.0
566.0
283.0
850.0
425.0
1276.0
638.0
319.0
958.0
479.0
1438.0
719.0
2158.0
1079.0
3238.0
1619.0
4858.0
2429.0
7288.0
3644.0
1822.0
911.0
2734.0
1367.0
4102.0
2051.0
6154.0
3077.0
9232.0
4616.0
2308.0
1154.0
577.0
1732.0
866.0
433.0
1300.0
650.0
325.0
976.0
488.0
244.0
122.0
61.0
184.0
92.0
46.0
23.0
70.0
35.0
106.0
53.0
160.0
80.0
40.0
20.0
10.0
5.0
16.0
8.0
4.0
2.0
1.0

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
x = [-6,-5,-4,-3,-2,-1,0,1,2,3,4,5,6]
y = [36,25,16,9,4,1,0,1,4,9,16,25,36]

In [ ]:
plt.plot(x,y)
plt.xlabel("x")
plt.ylabel(r"$x^2$")
plt.show()